NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/sign-up

NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard

NEXT_PUBLIC_CLERK_FRONTEND_API_URL=

# Deployment used by `npx convex dev`
# CONVEX_DEPLOYMENT=dev: # team: , project:

CONVEX_DEPLOY_KEY=prod:

CONVEX_DEPLOYMENT=prod:

NEXT_PUBLIC_CONVEX_URL=

RESEND_API_KEY=

GEMINI_API_KEY=